.tip{
	margin-top: 10px;
	margin-bottom: 10px;
}

body{
	width:100%;
	margin:0 auto;
}

#main{
	width:90%;
}

.navbar-logo{
	vertical-align:middle;
	width:35px;
	height:35px;
	float:left;
}
.navbar-brand{
	padding:8px 10px;
}
.title{
	font-weight:bold;
	font-size:18px;
	text-align: center;
	margin-bottom:10px;
}

textarea{
	min-height: 200px;
	min-width:280px;
}
.input-group{
	width:100%;
}
.input-group-addon{
	width:100px;
}
.pfop-result-table{
	width:100%;
	border:1px solid #000;
}
.pfop-result-table td, .pfop-result-table th{
	border:1px solid #000;
	padding:2px;
}
